!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Forest Guardian – Map page

    %link{:href => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.1/mapbox-gl.css", :rel => "stylesheet", :type => "text/css"}/
    / Bootstrap
    %link{:href => "/assets/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    / Main styles
    %link{:href => "/assets/main.css", :rel => "stylesheet", :type => "text/css"}/
    / Adaptive styles
    %link{:href => "/assets/adaptive.css", :rel => "stylesheet", :type => "text/css"}/
    / Swipe menu
    %link{:href => "/assets/pushy.css", :rel => "stylesheet", :type => "text/css"}/

    / fonts
    %link{:href => "/assets/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/

    %script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.1/mapbox-gl.js", :type =>"text/javascript"}

    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body.indexpage
    / navigation swipe
    .menu-btn
      %img.app_logo{:alt => "Forest Guardian", :src => "/assets/app_icon.png" }
    %nav.pushy.pushy-left
      .profile
        .avatar
          %img{:alt => "#", :src => "/assets/avatar/ava_16.jpg"}/
          %span 5
        %h3
          %a{:href => "03.html"} Anonymous
        %a.log_btn{:href => "#"} Log in
      %ul.side_menu
        %li
          %a{:href => "home.html"}
            %i.fa.fa-bookmark-o>
            Start
        %li
          %a.animsition-link{:href => "01.html"}
            %i.fa.fa-map-marker>
            Map
        %li
          %a{:href => "05.html"}
            %i.fa.fa-list>
            Place list
        %li
          %a{:href => "04.html"}
            %i.fa.fa-th>
            Place grid
        %li
          %a{:href => "02.html"}
            %i.fa.fa-building-o>
            Place
        %li
          %a{:href => "03.html"}
            %i.fa.fa-user>
            User profile
        %li
          %a{:href => "06.html"}
            %i.fa.fa-book>
            Blog
        %li
          %a{:href => "07.html"}
            %i.fa.fa-file-powerpoint-o>
            Open post
    / add
    #pl.add_place.none
      .place_form
        %i#close.fa.fa-times.close_window
        %h3
          Add new place
          %span
        %form
          %label
            Place name:
            %input{:type => "text"}/
          %label
            latitude:
            %input{:type => "text"}/
          %label
            longitude:
            %input{:type => "text"}/
          %label
            Categori:
            %select
              %option{:value => "Cafe"} Cafe
              %option{:value => "Bar"} Bar
              %option{:value => "Cinema"} Cinema
              %option{:value => "Shop"} Shop
              %option{:value => "Club"} Club
              %option{:value => "Bank"} Bank
          %a#add.green_btn_header{:href => "#"} Add
    / autorization
    #autorized.add_place.none
      .place_form.login_form
        %i#closeau.fa.fa-times.close_window
        %h3
          Autorization
          %span
        %form{ class: 'new_user', action: '/users', method: 'post' }
          %label
            Login:
            %input{:type => "email", name:'user[email]'}/
          %label
            Password:
            %input{:type => "password", name:'user[password]'}/
          %input.btn.btn-success{:href => "#", name: 'commit', type: 'submit' }
          %a.btn.btn-primary{:href => "#"}
            %i.icon-facebook>
            Log in with Facebook
          %a{:href => "#", :style =>"margin-right:0px" } Forgot Password?
          %a{:href => "#", :style =>"margin-left:0px" } Sign up
    .site-overlay
    / Header
    .container-fluid.header
      .row
        .col-md-12
          %a.logo{:href => "home.html"}
            %label{ :style =>"font-size:18px;transform:translate(5%,20%);color:#789a35" } Forest Guardian

    #map.forest_map
    :javascript
      mapboxgl.accessToken = 'pk.eyJ1IjoiZW1tYW1tMDUiLCJhIjoiM1ZBVExhOCJ9.0uVTeXUebK-S6oBTFpCMmQ';
      var map = new mapboxgl.Map({
          container: 'map', // container id
          style: 'mapbox://styles/emmamm05/cikm823gu0063sykpe9fv13uf', //hosted style id
          center: [-77.38, 39], // starting position
          zoom: 3 // starting zoom
      });
    / categories menu
    .container-fluid.menu.mobile
      .row
        .col-md-12
          %span Categori menu
          %i#close_menu.fa.fa-times
          %ul
            %li
              %a.shop{:href => "javascript:toggleMarkers('Shop');"}
                %i.fa.fa-shopping-cart
            %li
              %a.cinema{:href => "javascript:toggleMarkers('Cinema');"}
                %i.fa.fa-film
            %li
              %a.club{:href => "javascript:toggleMarkers('Club');"}
                %i.fa.fa-beer
            %li
              %a.cafe{:href => "javascript:toggleMarkers('Cafe');"}
                %i.fa.fa-cutlery
            %li
              %a.sport{:href => "javascript:toggleMarkers('Sport');"}
                %i.fa.fa-futbol-o
            %li
              %a.port{:href => "javascript:toggleMarkers('Port');"}
                %i.fa.fa-life-ring
            %li
              %a.bank{:href => "javascript:toggleMarkers('Bank');"}
                %i.fa.fa-university
            %li
              %a.post{:href => "javascript:toggleMarkers('Post');"}
                %i.fa.fa-envelope-o
            %li
              %a.showplace{:href => "javascript:toggleMarkers('Showplace');"}
                %i.fa.fa-eye
            %li
              %a.park{:href => "javascript:toggleMarkers('Park');"}
                %i.fa.fa-leaf
            %li.mobile_menu
              %a{:href => "#"}
                %i.fa.fa-bars
    / map
    //#map.map


    / /map
    /
      \#################################
      \- SCRIPT FILES -
      \#################################
    / Google maps API linl
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "/assets/jquery.min.js"}
    / Other main scripts
    / Bootstrap js
    %script{:src => "/assets/bootstrap.min.js"}
    / Map js
    %script{:src => "/assets/map.js", :type => "text/javascript"}
    / Other main scripts
    %script{:src => "/assets/all_scr.js"}