<!DOCTYPE html>
<html>
<head>
    <title>Forest Guardian</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" />
    <link rel="stylesheet" href="leaflet-layer-overpass/dist/OverPassLayer.css" />
    <link rel="stylesheet" href="node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet-src.js"></script>
    <script src="leaflet-layer-overpass/dist/OverPassLayer.js"></script>
    <script type="text/javascript" src="leaflet.ajax.js"></script>
    <script src="node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="node_modules/lrm-graphhopper/dist/lrm-graphhopper-1.1.2.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
        .leaflet-right .leaflet-control {
            margin-right: 10px;
            display: none;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script type="text/javascript" src="maptest.js"></script>
</body>
</html>
